.all-information{
    margin-left: 20px;
}
.all-information h2{
    text-align: center;
}
.break-time{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: skyblue;
    width: 300px;
    height: 50px;
    border-radius: 10px;
}
.break-time button{
    border: none;
    width: 30px;
    height: 30px;
    border-radius: 10px;
}
.break-time button:hover{
    background-color: chartreuse;
}

.btn-done button{ 
    background-color: slategrey;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 10px;
}
.btn-done button:hover{
    background-color: fuchsia;
}
